@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    font-family: 'Poppins', sans-serif;
}
header{
    display: block;
    position: relative;
    
}
#logo{
    height: 45px;
    padding: 0px 5px;
}

#left_bar{
    background-color: #f0f0f0;
    position: fixed;
    height: 100%;
    width: 60px;
    z-index: 1;
}

#left_bar ul li{
    list-style: none;
    padding: 25px 0 0 0;
    
}
#left_bar ul {
    
    padding: 15px 0 0 5px;
    
}

#top_bar{
    background-color: #f0f0f0;
    
    height: 50px;    
    text-align: center;
    font-size: 1.3em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#top_bar{
    padding: 10px 0;
}
.collapse navbar-collapse ul{
    align-items: flex-end;
}

#extend_left_bar{
    background-color: #f0f0f0;
    position: fixed;
    height: 100%;
    width: 200px;
    display: none;
    z-index: 0;
}

#extend_left_bar ul li{
    list-style: none;
    padding: 35px 0 0 0;
    padding-left: 70px;
    
}
#extend_left_bar ul {
     padding: 15px 0 0 5px;
     
    
}

#dados_Cemiterio{
    /* padding: 2px 85px; */
    display: flex;
    /* flex-direction: column; */
    position: relative;
    left: 80px;
}
#top_Nav{
    padding-top: 2vh;
}
#title_Page{
    display: flex;
    flex-direction: row;
    position: relative;
    left: 70px;
    width: auto;
}

#top_Buttons{
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 5vw;
}
#top_Buttons button{
    margin: 0 05px;
}
.form_SGC , table{
    position: relative;
    left: 70px;
}
#resultados{
    padding-top: 10px;
    position: relative;
    left: 80px;
    font-size: larger;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#alert_Form_Error{
    display: none;
    left: 4vw;
    width: 95.5vw;
}
#alert_Form_Sucess{
    display: none;
    left: 4vw;
    width: 95.5vw;
}

/* .sub_menu{
    display:none;
    position:absolute;
    top:25px;
    left:0;
    background-color:#fff;
    
    }

 #extend_left_bar:hover .sub_menu {
        display: block;
      } */